        @font-face {
            src: url(fonts/BasicaRegular.ttf);
            font-family: MyFont;
        }
        
        .header {
            background-size: cover;
            background-image: url(/images/1.jpg);
            height: 1500px;
            text-align: center;
            filter: brightness(20%);
        }
